@model PartyInvitesWebApp.Models.GuestResponse
<div>
    <h1>Thanks @Model.Name!</h1>
    @if (@Model.WillAttend == true)
    {
        @: It's great that you're coming, @Model.Name.
        }
    else
    {
        @: Sorry you will not be there @Model.Name.
        }

</div>
