<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>
<body>
    <table><tr><td><h1>PARTY INVITATIONS</h1></td></tr></table>
    <div>
        <table class="table-bordered table-striped"><tr><td>&nbsp</td><td>@RenderBody()</td></tr></table>
    </div>
    <hr />
</body>
</html>
