<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ComputersSection" type="ConfigurationSectionsLibrary.ComputersConfigurationSection, ConfigurationSectionsLibrary"/>
  </configSections>
  <ComputersSection>
    <Computers>
      <add Port="6996" ReportType="File" />
      <add Port="7001" ReportType="Other" />
    </Computers>
  </ComputersSection>
</configuration>