@model PartyInvitesWebApp.Models.InvitationList

<table>
    @foreach (var guestResponse in Model.GuestResponses)
    {
        <tr>
            <td>Name: @guestResponse.Name</td>
            <td>Number of Friends: @guestResponse.NumberOfFriends</td>
        </tr>
    }
    <tr><td>Total: @Model.GetNumberOfGuests()</td></tr>
</table>
